.cardContainer{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  background-color: transparent;
  top: 0px;
  .card{
    display: flex;
    flex-direction: column;
    border-top: 1px solid;
    border-style: dashed;
    position: relative;
    // color: white;
    // background-color: black;
    background-color: white;
    height: 500px;
    height: 60vh;
    width: 95%;
    padding-top: 10px;
    transform-origin: top;
    h2{
      text-align: center;
      margin: 0px;
      font-size: 28px;
    }
    .body{
      display: flex;
      height: 100%;
      margin-top: 50px;
      gap: 50px;

      .description{
        width: 40%;
        position: relative;
        top: 10%;
        span{
          display: flex;
          align-items: center;
          gap: 5px;
          a{
            font-size: 12px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            cursor: pointer;
          }
        }
      }

      .imageContainer{
        position: relative;
        width: 60%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;
        .inner{
          width: 100%;
          height: 100%;
        }
        img{
          object-fit: cover;
        }
      }
    }
  }
}