.cardContainer{
  height: 100vh;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0px;
  .card{
    display: flex;
    flex-direction: column;
    border-top: 1px solid;
    border-style: dashed;
    position: relative;
    width: 100%;
    // color: white;
    // background-color: black;
    background-color: white;
    height: 500px;
    height: 60vh;
    padding-top: 10px;
    transform-origin: top;
    .body{
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: auto;
      margin-top: 28px;
      border: 1px solid greenyellow;

      // .imageContainer{
      //   position: relative;
      //   width: 60%;
      //   height: 100%;
      //   border-radius: 25px;
      //   overflow: hidden;
      //   .inner{
      //     width: 100%;
      //     height: 100%;
      //   }
      //   img{
      //     object-fit: cover;
      //   }
      // }
    }
  }
}