@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: */
/* body:before {
  filter: url(#grainy);
} */

html,
body {
  margin: 0px;
  background-color: black;
}

.containeR {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
  /* border: 1px solid red; */
}

.containeR img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.items {
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.items .item-main {
  overflow: hidden;
  position: absolute;
  /* TODO: adjust this to move image down or up */
  /* top: 20vh; */
  width: 30vw;
  max-width: 350px;
  height: auto;
  /* height: 350px; */
  overflow: hidden;
}

.item-main .item-img {
  overflow: hidden;
}

.item-main .item-img img {
  transform: scale(0.5);
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
}

.header {
  position: absolute;
  bottom: 35%;
  transform-origin: center center;
  width: 100%;
  display: flex;
}

.header-item {
  color: white;
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  transform: scale(0.25);
}

.header-item-1 {
  left: 18vw;
}

.header-item-2 {
  right: 18vw;
}

/* TODO: make the letters stick together more */
.letter {
  flex: 1;
  font-size: 16vw;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.custom-cursor-container {
  position: relative;
}

.custom-cursor {
  position: absolute;
  transform: translate(20%, -100%);

  font-size: 12px;
  display: flex;
  width: 0; /* Start with 0 width */
  overflow: hidden; /* Hide the content when width is less than content */
  white-space: nowrap; /* Ensure text doesn’t wrap */
  gap: 4px;
  text-transform: uppercase;
  background-color: black;
  padding-left: 2px;
  align-items: center;
  color: white;
  z-index: 9999;
}

/* .glass {
  z-index: 100;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
} */

.borderr {
  border: 1px solid red;
}

.headerLink {
  cursor: pointer;
  position: relative;
}
.headerLink::after {
  content: "";
  height: 1px;
  background-color: white;
  left: 0;
  bottom: -4px; /* Adjust this value to move the line closer to the text */
  width: 100%; /* Start with full width */
  position: absolute;
  transform: scaleX(0); /* Initially scale the width to 0 */
  transform-origin: left; /* The animation starts from the left */
  transition: transform 0.5s ease-in-out;
}
.headerLink:hover::after {
  transform: scaleX(1); /* Scale to full width on hover */
  transform-origin: left; /* Ensure the line grows from left to right */
}

/* Reusable padding class */
.section-padding {
  padding: 16px; /* Small screens (default) */
}

@media (min-width: 600px) {
  .section-padding {
    padding: 16px; /* Medium screens */
  }
}

@media (min-width: 768px) {
  .section-padding {
    padding: 24px; /* Large screens */
  }
}

@media (min-width: 1024px) {
  .section-padding {
    padding: 32px; /* Extra-large screens */
  }
}

.containerFooter {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

@media (max-width: 768px) {
  .containerFooter {
    grid-template-columns: 50% 50%;
  }

  .columnFooter:nth-child(3) {
    grid-column: 1 / -1; /* Make 3rd column take full width */
  }
}
