@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: */
/* body:before {
  filter: url(#grainy);
} */

body {
  margin: 0px;
}

.custom-cursor {
  position: fixed;
  /* transform: translate(-50%, -50%); Centers the text on the cursor */
  transform: translate(30%, -100%); 
  font-size: 12px;
  display: flex;
  width: fit-content;
  gap: 4px;
  text-transform: uppercase;
  background-color: black;
  align-items: center;
  color: white;
  z-index: 9999;
}

/* TODO: maybe remove: */
/* .glass {
  z-index: 100;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
} */

.borderr {
  border: 1px solid red;
}

.headerLink {
  cursor: pointer;
  position: relative;
}
.headerLink::after {
  content: "";
  height: 1px;
  background-color: black;
  left: 0;
  bottom: -4px; /* Adjust this value to move the line closer to the text */
  width: 100%; /* Start with full width */
  position: absolute;
  transform: scaleX(0); /* Initially scale the width to 0 */
  transform-origin: left; /* The animation starts from the left */
  transition: transform 0.5s ease-in-out;
}
.headerLink:hover::after {
  transform: scaleX(1); /* Scale to full width on hover */
  transform-origin: left; /* Ensure the line grows from left to right */
}

/* Reusable padding class */
.section-padding {
  padding: 16px; /* Small screens (default) */
}

@media (min-width: 600px) {
  .section-padding {
    padding: 16px; /* Medium screens */
  }
}

@media (min-width: 768px) {
  .section-padding {
    padding: 24px; /* Large screens */
  }
}

@media (min-width: 1024px) {
  .section-padding {
    padding: 32px; /* Extra-large screens */
  }
}

.containerFooter {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

@media (max-width: 768px) {
  .containerFooter {
    grid-template-columns: 50% 50%;
  }

  .columnFooter:nth-child(3) {
    grid-column: 1 / -1; /* Make 3rd column take full width */
  }
}
