@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0px;
  /* background-image: url("/noise-light.png"); */
  /* background-color: black; */
  background-attachment: fixed; /* This ensures the background stays in place */
}

.maiN {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  /* background-image: url("/noise-light.png"); */
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  scroll-behavior: unset;
  opacity: 0;
}

.body {
  color: white;
  width: 50vw;
}

.body a {
  display: inline; /* Make the <a> tag inline */
  text-decoration: none; /* Remove underline if needed */
  margin: 0; /* Remove any extra margin */
  padding: 0; /* Remove any extra padding */
}

.introLine {
  display: flex;
  font-size: 5.5vw;
  line-height: 6.5vw;
  justify-content: center;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .introLine {
    font-size: 9vw;
    line-height: 10vw;
  }

  .body {
    width: 80vw;
  }
}

.introLine p {
  margin: 0px;
}

.introLine:nth-of-type(5),
.introLine:nth-of-type(6) {
  display: inline-flex;
}

.introLine:nth-of-type(6) {
  right: -40px;
  position: relative;
}

.introLine p {
  margin: 0px;
}

.loader {
  height: calc(100vh + 200px);
  width: 100%;
  z-index: 10000;
  position: fixed;
}

.loader svg {
  height: 100%;
  width: 100%;
}

.loader svg path {
  stroke: white;
  fill: white;
  stroke-width: 1px;
}

.custom-cursor-container {
  position: relative;
}

.custom-cursor {
  position: absolute;
  transform: translate(20%, -100%);

  font-size: 12px;
  display: flex;
  width: 0; /* Start with 0 width */
  overflow: hidden; /* Hide the content when width is less than content */
  white-space: nowrap; /* Ensure text doesn’t wrap */
  gap: 4px;
  text-transform: uppercase;
  background-color: black;
  padding-left: 2px;
  align-items: center;
  color: white;
  z-index: 9999;
}

/* .glass nav bar {
  z-index: 100;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
} */

.borderr {
  border: 1px solid red;
}

.headerLink {
  cursor: pointer;
  position: relative;
}
.headerLink::after {
  content: "";
  height: 1px;
  background-color: white;
  left: 0;
  bottom: -4px; /* Adjust this value to move the line closer to the text */
  width: 100%; /* Start with full width */
  position: absolute;
  transform: scaleX(0); /* Initially scale the width to 0 */
  transform-origin: left; /* The animation starts from the left */
  transition: transform 0.5s ease-in-out;
}
.headerLink:hover::after {
  transform: scaleX(1); /* Scale to full width on hover */
  transform-origin: left; /* Ensure the line grows from left to right */
}

/* Reusable padding class */
.section-padding {
  padding: 16px; /* Small screens (default) */
}

@media (min-width: 600px) {
  .section-padding {
    padding: 16px; /* Medium screens */
  }
}

@media (min-width: 768px) {
  .section-padding {
    padding: 24px; /* Large screens */
  }
}

@media (min-width: 1024px) {
  .section-padding {
    padding: 32px; /* Extra-large screens */
  }
}

.containerFooter {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

@media (max-width: 768px) {
  .containerFooter {
    grid-template-columns: 50% 50%;
  }

  .columnFooter:nth-child(3) {
    grid-column: 1 / -1; /* Make 3rd column take full width */
  }
}

.btn {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: rgb(60, 60, 60);
  color: white;
  visibility: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  mix-blend-mode: difference;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.5s ease-out;
}

.btn2::before {
  background: rgb(32, 32, 32);
}

.btn1::before,
.btn2::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn1:hover::before,
.btn2:hover::before {
  height: 180%;
}
