.directional-list-sidebar {
  color: black;
  flex-flow: column;
  width: 100%;
  display: flex;
  position: relative;
}

.directional-list__collection-sidebar {
  width: 100%;
}

.directional-list__list-sidebar {
  width: 100%;
}

.directional-list__item-sidebar {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  color: inherit;
  justify-content: space-between;
  align-items: center;
  margin-top: -1px;
  padding: 0.75em 0em;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.directional-list__col-award-sidebar {
  position: relative;
}

.direcitonal-list__p-sidebar {
  margin-bottom: 0;
  font-size: 1em;
  line-height: 1;
  mix-blend-mode: difference;
  color: white;
}

.directional-list__border-sidebar {
  z-index: 2;
  opacity: 0.3;
  background-color: currentColor;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.directional-list__border-sidebar.is--item-sidebar {
  top: 0;
  bottom: auto;
}

.directional-list__hover-tile-sidebar {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

[data-directional-hover-tile-sidebar] {
  transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  transform: translateY(-100%);
  will-change: transform;
}

/* Sidebar-specific styles can be added here */

